.Layout {
  padding: 30px;
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.Layout-header {
  grid-area: header;
  padding: 0 0 30px;
  text-align: center;
}

.Layout-headerTitle {
  font-weight: bold;
  font-size: 2.5rem;
}

.Layout-content {
  position: relative;
  padding: 10px;
  grid-area: content;
}
