* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
  line-height: 1.2;
}

/* Helpers */

.mt-30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}
